<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab Two
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="iframe-container" #iframeContainer>
    <p>This VVV works https://www.example.com/ </p>
    <iframe src="https://www.example.com/" style="height:95%;width:100%"></iframe>
  </div>
  <div class="iframe-container" #iframeContainer2>
    <p>This VVV also works https://bambora.com/ </p>
    <iframe src="https://bambora.com/" style="height:95%;width:100%"></iframe>
  </div>
</ion-content>
